<!-- Dialogs.html: jQuery UI dialog DIVs -->
<!-- What's My Username: CFCC -->
<div id="dialog_username-cfcc" title="What is my Username?">
	<form>
		<fieldset>
			<p>
				<label for="per_last">Last Name<sup>*</sup></label> <input
					type="text" name="per_last" id="per_last"
					class="text ui-widget-content ui-corner-all" />
			</p>
			<hr>
			<p>
				<label for="per_id">CFCC ID Number</label> <input type="text"
					name="per_id" id="per_id" maxlength="7"
					class="text ui-widget-content ui-corner-all" />
			</p>
			<p>
				OR<br> <label for="per_ssn">Social Security Number</label> <input
					type="text" name="per_ssn" id="per_ssn" maxlength="11"
					class="text ui-widget-content ui-corner-all" />
			</p>
			<p>
				<sup>* = Required</sup>
			</p>
		</fieldset>
	</form>
	<div id="dialog-form-msg"></div>
</div>
<!-- What's My Username: NCWC -->
<div id="dialog_username-ncwc" title="What is my Username?">
<p>NC Wesleyan students should contact the extension office with any questions.  (910) 520-6786.</p>
</div>
<!-- What's My Username: CFCC Trustee -->
<div id="dialog_username-trustee" title="What is my Username?">
	<p>Members of the CFCC Board of Trustees should contact IT Services with any questions.  (910) 362-4357.</p>
</div>
<!-- What's My Username error response -->
<div id="dialog_findusername_error" title="Error">
	<p>
		<span class="ui-icon ui-icon-alert"
			style="float: left; margin: 0 7px 50px 0;"></span> With the
		information you provided we could not uniquely identify you. Please
		check the data you entered.
	</p>
</div>
<!-- What's My ID Number: CFCC -->
<div id="dialog_id_number-cfcc" title="What is my ID Number?">
<p>
	You can find your CFCC ID on your Student ID Card, your class schedule
	sheet, payroll stub, etc., or if you are a Prospective Student, you can
	find your student ID on your Welcome Letter.<br> <br>If you
	do not have any of these please contact the Help Desk at 910 362-HELP (4357).
</p>
</div>
<!-- What's My ID Number: NCWC -->
<div id="dialog_id_number-ncwc" title="What is my ID Number?">
<p>NC Wesleyan students should contact the extension office with any questions.  (910) 520-6786.</p>
</div>
<!-- What's My ID Number: CFCC Trustee -->
<div id="dialog_id_number-trustee" title="What is my ID Number?">
	<p>Members of the CFCC Board of Trustees should contact IT Services with any questions.  (910) 362-4357.</p>
</div>
