@CHARSET "UTF-8";

.warning {
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: gray;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.alert {
    color: red;
    font-family: sans-serif;
    font-weight: normal;
    font-size: larger;
}

.required {
    color: red;
    vertical-align: super;
}

.toggle {
    display: none;
}

/* The next two message box styles came from the blog:               */
/* http://woork.blogspot.com/2008/03/css-message-box-collection.html */
.clean-ok {
    border: solid 1px #359545;
    background: #cee6c3;
    color: #359545;
    padding: 4px;
    text-align: center;
}

.clean-error {
    border: solid 1px #cb2026;
    background: #f6cbca;
    color: #cb2026;
    padding: 4px;
    text-align: center;
}

/* was: #simpleform .error */
.error {
    color: red;
    font-family: sans-serif;
    font-size: smaller;
}

.debug {
    padding: 1em;
    margin: 4px;
    background: black;
    color: orange;
    font-family: sans-serif;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.btn {
    text-align: center;
}

.btnsmall {
    font-size: small;
}

.copyright {
    font-size: small;
    text-align: center;
}

#statusMessage {
    margin: 1em;
    padding: .3em;
}

.password {
    font-family: monospace;
    font-weight: bold;
}

#simpleform .notes {
    color: blue;
    font-size: small;
    margin: 0 auto 4px auto;
    width: 65%;
}

/* Example Form CSS from <http://www.websemantics.co.uk/tutorials/accessible_forms/> */
#content {
    width: 844px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

/* note that by using an id on each form that it is is individually controllable
 use a general class for consistency and refer via the id for unique properties */
#simpleform {
    margin: 0 0 2em 0;
}

#simpleform * {
    font: inherit
}

#simpleform div {
    margin: 0.5em 0
}

#simpleform fieldset {
    border: 1px solid #657;
    padding: 0.5em 1em;
    margin: 2em 10px;
    color: #657
}

#simpleform legend {
    font-weight: bold;
    padding: 0 0.5em
}

#simpleform p {
    margin-bottom: 0.8em
}

#simpleform label {
    font-weight: bold
}

/* #simpleform input[type="text"] { */
/* 	background: #CCFFCC; */
/* 	border: 2px inset #ccc; */
/* 	width: 220px; */
/* 	margin-left: 1em; */
/* 	background: #dde; */
/* 	padding: 2px 3px 2px 5px; */
/* 	vertical-align: middle */
/* } */

#simpleform input[type="radio"] {
    border: 2px solid #fff;
    margin-left: 1.5em;
    vertical-align: middle;
}

#simpleform textarea {
    background: #FFF0D0;
    border: 2px inset #ccc;
    width: 220px;
    margin-left: 1em;
    background: #fff;
    font-size: 100%;
    padding: 2px 3px 2px 5px;
    vertical-align: middle
}

#simpleform input[type="button"] {
    border: 2px outset #ccc;
    color: #324;
    background: #bbd;
    vertical-align: bottom;
    height: 2em;
    width: 120px
}

/* more formatting from <http://www.askthecssguy.com/2007/03/form_field_hints_with_css_and.html> */
#simpleform .questionBox {
    position: relative;
    width: 800px;
}

#simpleform .questionBoxLabel {
    clear: both;
    float: left;
    width: 260px;
    padding: 4px 0 2px 0;
    margin: 0 0 8px 0;
    text-align: left;
}

#simpleform .questionBoxInput {
    float: left;
    width: 520px;
    padding: 4px 0 2px 0;
    margin: 0 0 8px 0;
    padding-left: 6px;
}

#simpleform div.securityQuestion .questionBox {
    width: 650px;
}

#simpleform div.securityQuestion .questionBoxLabel {
    width: 340px;
}

#simpleform div.securityQuestion .questionBoxInput {
    width: 280px;
}

/* help link example */
/* please note: that bg & txt colour of the help link should be associated with the bg & txt color of the help div */
#simpleform div.help {
    background: #f0f0f0;
    padding: 5px;
    color: #060;
    text-align: left
}

#simpleform div.help h4 {
    font-size: small;
    margin: 0 0 0.5em 0
}

#simpleform div.help p {
    margin: 0
}

#simpleform span.help {
    font-size: small;
    background: #f0f0f0;
    padding: 2px
}

#simpleform span.help a {
    color: #060
}

/* end help link example */
#simpleform sup {
    color: blue;
}

#simpleform i {
    font-style: italic;
    padding-left: 2em;
}

#simpleform .hlssn {
    color: red;
    font-family: sans-serif;
    font-size: larger;
}

/* Some Additional Style Modifications */
#dialog-form {
    width: 844px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

#dialog_findusername_error {
    width: 844px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

#dialog_id_number {
    width: 844px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

/* End Some Additional Style Modificatinos */