@CHARSET "UTF-8";

/* CFCC Page Theme Styles */

body {
    background-color: #333;
}

#page {
    background-color: #FFF;
    padding: 3px;
    height: auto;
    width: 944px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}

#masthead {
    height: 75px;
    width: 944px;
    margin-bottom: 15px;
    background-image: url(https://cfcc.edu/wp-content/uploads/2016/12/banner.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#footer {
    width: 944px;
    background-color: #111;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#columnone {
    margin: 15px;
    padding: 5px;
    float: left;
    width: 45%;
    color: #fff;
}

#columnoner {
    margin: 15px;
    padding: 5px;
    float: right;
    width: 45%;
    color: #fff;
}

#columntwo {
    margin: 15px;
    padding: 5px;
    float: left;
    width: 90%;
    color: #fff;
}

a.awesome, .button.awesome {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    background-color: #990000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a:hover.awesome, .button.awesome {
    background-color: #F90;
}

/* End CFCC page Theme Styles */
